.titleContainer {
  font-family: 'Dosis', sans-serif;
  text-align: center;
}

.mainTitle {
  font-size: 80px;
  color: #111111;
}

.descriptionContainer {
  font-family: 'Dosis', sans-serif;
  text-align: center;
}

.mainDescription {
  font-size: 25px;
  color: #FF851B;
}

.buttonContainer {
  text-align: center;
}

.generateButton {
  font-family: 'Dosis', sans-serif;
  font-size: 25px;
  border-radius: 10px;
  width: 150px;
  height: 50px;
  background-color: #bababa;
  margin-top: 75px;
  cursor: pointer;
  border-color: #2ECC40;
}

.randomWordContainer {
  background-color: #cdcdcd;
  width: 70%;
  text-align: center;
  margin: auto;
  height: 75px;
  line-height: 75px;
  vertical-align: middle;
  border-radius: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: relative;
}

.randomWordText {
  font-family: 'Dosis', sans-serif;
  margin-top: 150px;
  font-size: 35px;
  color: #FF4136;
}

.heartButton {
  position: absolute;
  font-size: 40px;
  color: red;
  background-color: transparent;
  border: 2px solid rgb(48, 123, 37);
  border-radius: 10px;
  line-height: 70px;
  width: 70px;
  vertical-align: middle;
  right: 0;
}

.heartButton:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.heartButton:active {
  background-color: rgba(126, 126, 126, 0.2);
}

.dislikeButton {
  position: absolute;
  font-size: 35px;
  background-color: transparent;
  border: 2px solid rgb(192, 41, 41);
  border-radius: 10px;
  line-height: 70px;
  width: 70px;
  vertical-align: middle;
  right: 75px;
}

.dislikeButton:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.dislikeButton:active {
  background-color: rgba(126, 126, 126, 0.2);
}

.errorContainer {
  background-color: rgba(239, 139, 33, 0.2);
  text-align: center;
  margin: 0 auto;
}

.errorText {
  font-size: 30px;
  color: rgb(232, 42, 42);
}

@media only screen and (max-width: 1200px) {
  .titleContainer {
    width: 100%;
    text-align: center;
    margin-left: 0px;
    margin-top: 0px;
  }

  .mainTitle {
    font-size: 50px;
  }

  .descriptionContainer {
    width: 100%;
    text-align: center;
    margin-left: 0px;
    margin-top: 0px;
  }

  .mainDescription {
    font-size: 20px;
  }

  .generateButton {
    font-size: 30px;
    margin-top: 50px;
  }

  .randomWordText {
    margin-top: 100px;
    font-size: 30px;
    padding-right: 65px;
  }

  .favoriteWords {
    font-size: 25px;
    line-height: 45px;
    vertical-align: middle;
  }
}